@media all and (min-width: 1400px) {
    .Header {
      margin: 0 auto;
      padding-left: 10%;
      padding-right: 10%;
      background-color: #343a40
    }
}

.dropdown, .dropup {
  margin-left: auto;
}